* {
    box-sizing: border-box;
}


@font-face {
    font-family: 'Vazir-FD';
    src: url('../font/Vazirmatn-FD-Regular.woff2');
}

body {
    font-family: Vazir-FD;
    margin: 0;
}
.main-header {
    width: 100%;
    background: #1565c0;
    padding: 8px 16px;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__logo {
    color: #e3f2fd;
    text-decoration: none;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    width: calc(100% - 70px);
    text-align: right;
    vertical-align: middle;
}

.mane-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0px 16px;
}

.main-nav__item a {
    color: #bbdefb;
    text-decoration: none;
}

.main-nav__item a:hover, 
.main-nav__item a:active {
    color: white;
}

.main-nav__item--acount a {
    background: #e3f2fd;
    color: #1565c0;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--acount a:hover, 
.main-nav__item--acount a:active {
    color: #1565c0;
}

#overview {
    width: 100%;
    height: 600px;
    background-image: url(../image/Wallet.png);
    background-position-x: center;
    background-size: cover;
}





.section-title {
    color: #1565c0;
    text-align: center;
}

.plan {
    width: 30%;
    display: inline-block;
    margin: 8px;
    padding: 16px;
    text-align: center;
    vertical-align: middle;
    color: #424242;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.14);
    direction: rtl;
    border-radius: 3px;
}

.plan__highlighted {
    background: #e3f2fd;
    color: #1565c0;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.4);
}

.plan__title--highlighted {
    background: #ffffff;
    padding: 8px;
    border-radius: 3px;
}

.plan__featurs {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__featur {
    margin: 8px 0;
}

.plan__btn {
    background: #1565c0;
    color: white;
    font: inherit;
    border: none;
    padding: 4px 16px;
    border-radius: 5px;
    font-weight: bold;
    outline: none;
}