
main {
    padding-top: 60px;
}

#plans {
    position: relative;
}

.section-title {
    color: #0d0d0d;
    text-align: center;
}

.plan {
    width: 30%;
    display: inline-block;
    margin: 8px;
    padding: 16px;
    text-align: center;
    vertical-align: middle;
    color: #424242;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.14);
    direction: rtl;
    border-radius: 3px;
    background: rgba(186, 215, 247, 0.8);

}

.plan__highlighted {
    background: #e3f2fd;
    color: #1565c0;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.4);
}

.plan__title--highlighted {
    background: #ffffff;
    padding: 8px;
    border-radius: 3px;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feature {
    margin: 8px 0;
}

.plan__btn {
    background: #1565c0;
    color: white;
    font: inherit;
    border: none;
    padding: 4px 16px;
    border-radius: 5px;
    font-weight: bold;
    outline: none;
}

#features {
    background: rgba(245, 245, 245, 0.8);
    margin-top: 80px;
    padding: 16px;
    position: relative;
}

#feature .section-title {
    margin: 32px;
}

.features__list {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.features__list--element {
    display: inline-block;
    width: 30%;
    padding: 0px 16px;
    margin: 8px;
}

.features__description {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: #1976d2;
    font-size: 18;
}

.features__image {
    background: #bbdefb;
    width: 128px;
    height: 128px;
    border: 1px solid #42a5f5;
    border-radius: 50%;
    margin: auto;
}