main {
    padding: 2rem;
}

main >div {
    overflow: hidden;
    padding: 1.94rem;
    position: relative;
}

.testimonials {
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.40);
    background-color: rgba(187, 222, 251, 0.4);
    border-radius: 50px;
    text-align: center;
    width: 100%;
    margin-top: 6rem;
    padding: 0.5rem;
}

.testimoniam__image-container {
    margin: auto;
    width: 100%;
    height: auto;
    background: #1565c0;
    border-radius: 200px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}



.customer-image {
    width: 100%;
    height: auto;
    border-radius: 200px;
    vertical-align: top;
}

@media (min-width: 40rem) {

    .testimonials {
        width: 66%;
        max-width: 50rem;
        min-width: 20.5rem;
    }

    main > div {
        display: flex;
        flex-direction: column;
    }

    .testimoniam__image-container {
        width: 80%;
        max-width: 37.5rem;
        min-width: 18.75rem;
    }

    #customer2.testimonials {
        align-self: flex-end;
    }
}